<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Image -> Annotate</span>
</mat-toolbar>


<app-camera *ngIf="cameraOn" (imageEvent)="getImage($event)" />

<div class="anno-main" [ngClass]="cameraOn?'d-none':''">
    <!-- <div class="canvas-container">
        <canvas #annocanvas class="annocanvas"></canvas>
    </div> -->

    <div #p5Canvas class="canvas-container"></div>

    <div class="button mb-2">
        <button type="button" class="btn me-2 btn-success">Polygon</button>
        <button type="button" class="btn me-2 btn-warning">Rectengle</button>
        <button type="button" class="btn me-2 btn-info">Polyline</button>
    </div>

</div>